/* style format */
.cookIN {
	padding: 0;
	overflow: hidden;
	position: relative;
}

.cookIN > li {
	list-style: none;
	position: relative;
}

.cookIN > .l:before {
	position: absolute;
	content: "";
	border-bottom: 2px dotted #d0d0ce;
	right: -1500px;
	bottom: 2px;
	width: 1500px;
}

.cookIN > .r {
	float: right;
	background: #fff;
	padding-left: 5px;
	position: relative;
}

.titCoo {
	font-size: 26px;
	color: #252525;
	font-weight: 600;
	text-transform: uppercase;
	width: 100%;
	clear: both;
}

.titCooR {
	font-size: 26px;
	color: #252525;
	font-weight: 600;
	width: 100%;
	clear: both;
	position: relative;
}

.titCooR:before {
	content: "";
	width: 400px;
	border-bottom: solid 2px #bc1e2a;
	position: absolute;
	top: 40px;
}

ol.red-d {
	list-style: none;
	counter-reset: point;
	padding: 0;
}

ol.red-d li {
	margin-bottom: 15px;
	padding-left: 50px;
	position: relative;
	color: #252525;
	font-size: 24px;
	padding-top: 3px;
}

ol.red-d li:before {
	content: counter(point);
	counter-increment: point 1;
	position: absolute;
	left: 0;
	top: 6px;
	background: #bc1e2a;
	width: 30px;
	height: 30px;
	padding: 3px 0;
	color: #fff;
	font-weight: 600;
	text-align: center;
	border-radius: 30px;
	font-size: 16px;
}

/* style format */

/* album */
.im_sel {
	display: none;
	margin: 0;
	height: 29px;
}

.im_sel_a {
	cursor: pointer;
	/*color: #7d73a2;*/
	font-size: 15px;
}

.im_sel_t {

	background: #fafafa;
	border: solid 1px #f6f6f6;
	border-radius: 2px;
	width: 100%;
	/*   text-align: center;*/
}

.imag_bat {
	display: block;
	margin: 10px auto;
	padding: 10px 50px;
}

/*
Uploadify
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
Released under the MIT License <http://www.opensource.org/licenses/mit-license.php>
*/

.uploadify {
	position: relative;
	margin-bottom: 1em;
}

.uploadify-button {
	background-color: #505050;
	background-image: linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -o-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -moz-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -webkit-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -ms-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #505050),
		color-stop(1, #707070)
	);
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 2px solid #808080;
	color: #FFF;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	width: 100%;
}

.uploadify:hover .uploadify-button {
	background-color: #606060;
	background-image: linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -o-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #606060),
		color-stop(1, #808080)
	);
	background-position: center bottom;
}

.uploadify-button.disabled {
	background-color: #D0D0D0;
	color: #808080;
}

.uploadify-queue {
	margin-bottom: 1em;
}

.uploadify-queue-item {
	background-color: #F5F5F5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	max-width: 350px;
	padding: 10px;
}

.uploadify-error {
	background-color: #FDE5DD !important;
}

.uploadify-queue-item .cancel a {
	background: url('/modules/js/upl_mul/uploadify-cancel.png') 0 0 no-repeat;
	float: right;
	height: 16px;
	text-indent: -9999px;
	width: 16px;
}

.uploadify-queue-item.completed {
	background-color: #E5E5E5;
}

.uploadify-progress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}

.uploadify-progress-bar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}

.queue {
	max-width: 350px;
}

.close_n {
	/*position: absolute;*/
	right: -29px;
	top: 0px;
	float: left;
}

.close_n > button {
	padding: 0 5px
}

.queue {
	margin-bottom: 5px;
}

.uploadifive-queue-item.error {
	background: rgb(249, 212, 212) none repeat scroll 0% 0%;
}

.uploadifive-queue-item.success {
	background: rgb(211, 255, 210) none repeat scroll 0% 0%;
}

.uploadifive-queue-item {
	clear: both;
	margin-bottom: 2px;
	padding: 2px;
	border: 1px solid rgb(210, 233, 255);
}

.uploadifive-queue-item > div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* end album */

.border-green, #select2-selectIs_hot-container, #select2-selectSpecialist-container {
	border: 2px solid #4ecc70 !important;
}

.border-green-checkbox .icheckbox_flat-green {
	border: 2px solid #4ecc70 !important;
	border-radius: 5px;
	width: 24px;
	height: 24px;
}

.switch {
	cursor: pointer;
}

.switch > span {
	pointer-events: none;
}

pre {
	background: none !important;
	border: none;
	color: HSL(210.7, 17.2%, 53.1%);
	font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.471;
	cursor: default;
	white-space: pre-wrap;
}

.mce-tinymce.mce-container.mce-panel {
	border-width: 0!important;
	box-shadow: none;
}

.mce-tinymce.mce-container.mce-panel > .mce-container-body.mce-stack-layout {
	border: 1px solid hsl(0, 0%, 80%);
	box-shadow: none;
}

.modal-content, .alert, .btn {
	border-radius: 2px;
}

.thumbnail {
	border-radius: 2px;
}

.thumbnail .btn {
	padding: 5px 8px;
	margin-bottom: 0px;
	margin-right: 0px;
}

.progress {
	height: 2px;
	border-radius: 0;
	margin-bottom: 5px;
}

.pointer {
	cursor: pointer;
}

.modal-header .close {
	margin: 0px;
	padding: 0;
}

.img-container_2 {
	min-height: 200px;
	max-height: 466px;
	margin-bottom: 20px;
}
.img-container_2, .img-preview {
	background-color: hsl(0, 0%, 96.9%);
	overflow: hidden;
	width: 100%;
	text-align: center;
}