@media (max-width: 1580px) {
    .mb-lg {
        margin-bottom: 100px;
    }

    .site-header .button {
        padding: 8px 10px;
        font-size: 12px;
    }

    .site-header .wish-list svg {
        width: 24px;
        height: 24px;
    }

    .site-nav .menu > li:not(:last-child) {
        margin-right: 15px;
    }

    .billboard {
        padding: 9% 0 7%;
    }

    .service-info-area,
    .products {
        margin: 0 -15px;
    }

    .product-grid-section .grid-holder,
    .service-info-area .text-section,
    .service-info-area .image-section,
    .products .product-item {
        padding: 0 15px;
    }

    .products .product-item .add-to-wishList {
        right: 30px;
    }

    .products .product-item .del-btn {
        right: 30px;
    }

    .service-info-area.reverse .limit-box,
    .service-info-area .limit-box {
        padding-top: 0;
    }

    .service-info-area .image-section .small-img {
        left: -15px;
    }

    .service-info-area.reverse .image-section .small-img {
        right: -15px;
    }

    .products .product-item .price {
        font-size: 18px;
    }

    .subheader {
        padding: 220px 0 180px;
    }

    .product-grid-section .grid-holder .sort-form-holder {
        padding: 15px 0;
    }

    .product-grid-section .product-filter-form {
        padding: 10px 20px 25px;
    }

    .product-section .contact-section {
        padding: 30px 25px;
    }

    .product-section .contact-section address,
    .product-section .contact-section address .address-info {
        margin-bottom: 10px;
    }

    .product-section .contact-section input[type="text"],
    .product-section .contact-section input[type="tel"],
    .product-section .contact-section input[type="email"] {
        height: 42px;
    }

    .product-section .contact-section .button {
        margin-top: 20px;
        padding: 12px 44px;
    }

    .product-gallery .preview-slider {
        left: 6%;
        right: 6%;
    }

    .product-section .product-listing,
    .product-section .product-info {
        padding-right: 25px;
    }

    .product-section #map,
    .product-gallery {
        margin-bottom: 35px;
    }

    .product-section .heading .product-title {
        font-size: 38px;
    }

    .characteristics td {
        padding: 15px;
    }

    .characteristics .value {
        font-size: 1em;
    }

    .data-table {
        font-size: 14px;
    }

    .data-table td {
        padding: 8px 15px;
    }

    .product-section.sold-product .product-gallery:not(.plan-image-slider):before {
        top: -20px;
        right: 40px;
        font-size: 32px;
        padding: 10px 20px;
    }

    .article-slider .slick-slide {
        margin: 0 15px;
    }

    .application-form-holder h1 {
        margin-bottom: 120px;
    }

    .application-form-holder {
        padding: 140px 0 70px;
    }

    .certificate-area .custom-row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .certificate-slider {
        padding: 0 30px;
    }

    .certificate-slider .slick-slide,
    .certificate-area .custom-row .slider-holder,
    .certificate-area .custom-row .description-box {
        padding: 0 15px;
    }

    .certificate-slider .slick-prev {
        left: 0;
    }

    .certificate-slider .slick-next {
        right: 0;
    }
}

@media (max-width: 1380px) {
    h1 {
        font-size: 56px;
    }

    .mb-sm {
        margin-bottom: 35px;
    }

    .mb-md {
        margin-bottom: 50px;
    }

    .mb-lg {
        margin-bottom: 80px;
    }

    .site-header .logo svg {
        width: 145px;
        height: 46px;
    }

    .site-header .kw-logo img {
        width: 86px;
    }

    .site-nav .menu {
        font-size: 12px;
    }

    .site-nav .menu > li:not(:last-child) {
        margin-right: 12px;
    }

    .site-nav .menu .sub-menu {
        left: -15px;
        margin-top: 0;
        padding: 20px 15px;
        width: 280px;
        font-size: 14px;
    }

    .site-nav .menu > li > a {
        padding: 25px 0;
    }

    .site-nav .menu .sub-menu {
        text-align: left;
    }

    .site-nav .menu .parent-item > a:after {
        margin-left: 0;
    }

    .site-header .button + .wish-list {
        margin-left: 10px;
    }

    .billboard {
        padding: 13.5% 0 7%;
    }

    .billboard p {
        margin-bottom: 35px;
    }

    .service-info-area .image-section .decor-top,
    .service-info-area .image-section .decor-bottom {
        display: none;
    }

    .service-info-area .image-section .small-img {
        bottom: -20px;
        box-shadow: 3px 6px 35px 8px rgba(0, 10, 37, .22);
    }

    .service-info-area .image-section .small-img {
        max-height: 80%;
    }

    .service-info-area .limit-box {
        padding-right: 30px;
    }

    .service-info-area.reverse .limit-box {
        padding-left: 30px;
    }

    .container-fluid .service-info-area ~ .products {
        padding-top: 50px;
    }

    .product-grid-section .grid-holder {
        width: 72%;
    }

    .product-grid-section .sidebar {
        width: 28%;
    }

    .hidden[data-type="map"] .grid-holder {
        margin-left: -28%;
    }

    .products .product-item,
    .hidden[data-type="map"] .products .product-item {
        width: 33.33%;
    }

    .product-section .products .product-item,
    .product-grid-section:not(.hidden) .products .product-item {
        width: 50%;
    }

    .product-grid-section .pagination {
        padding-top: 0;
    }

    .simple-slider .slick-prev {
        left: 10px;
    }

    .simple-slider .slick-next {
        right: 10px;
    }

    .preview-post {
        margin: 0;
    }

    .posts-list {
        margin: 0 -15px;
    }

    .posts-list .post-group {
        padding: 0 15px;
    }

    .posts-list .post {
        margin-bottom: 30px;
        height: -webkit-calc(50% - 30px);
        height: -moz-calc(50% - 30px);
        height: calc(50% - 30px);
    }

    .posts-list .single .post {
        height: -webkit-calc(100% - 30px);
        height: -moz-calc(100% - 30px);
        height: calc(100% - 30px);
    }

    .site-footer {
        padding-top: 70px;
    }

    .site-footer .contact-info,
    .site-footer .foo-menu {
        width: 33.33%;
    }

    .site-footer .foo-request {
        width: 66.66%;
    }

    .subheader {
        padding: 190px 0 150px;
    }

    .product-section {
        padding-top: 30px;
    }

    .product-section .heading .product-title {
        font-size: 34px;
    }

    .product-section .heading .address-info svg {
        width: 22px;
        height: 22px;
    }

    .product-section .heading .address-info {
        font-size: 16px;
        padding-left: 30px;
    }

    .product-section .contact-section {
        padding: 20px;
        font-size: 16px;
    }

    .product-section .contact-section .address-info svg {
        top: 4px;
    }

    .product-section .contact-section .button {
        margin-top: 20px;
        padding: 11px 35px;
    }

    .characteristics {
        font-size: 16px;
    }

    .characteristics .value {
        line-height: 1.25;
    }

    .characteristics td {
        padding: 10px;
    }

    .product-section.sold-product .product-gallery:not(.plan-image-slider):before {
        top: -15px;
        right: 30px;
        font-size: 24px;
        padding: 8px 15px;
    }

    .article-slider .slick-slide .text-box {
        padding: 10px 15px 15px;
    }

    .article-slider .slick-slide h4 {
        font-size: 16px;
    }

    .contact-area {
        margin-top: 40px;
    }

    #map-canvas {
        height: 500px;
    }

    .application-form-holder {
        padding: 110px 0 60px;
    }

    .application-form-holder h1 {
        margin-bottom: 90px;
    }

    .about-info {
        padding-top: 35px;
    }

    .about-info .info-item {
        margin-left: -15px;
        margin-right: -15px;
    }

    .about-info .info-item .text-box,
    .about-info .info-item .img-box {
        padding: 0 15px;
    }

    .testimonials-slider .slick-slide {
        padding: 25px;
    }

    .testimonials-slider .slick-list {
        padding: 45px 0 !important;
    }

    .testimonials-slider .slick-center:before {
        top: 0;
        bottom: 0;
        left: -25px;
        right: -25px;
    }
}

/* Large devices (large desktops, 1200px and below) */
@media (max-width: 1199px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 40px;
        margin-bottom: .75em;
    }

    h3 {
        font-size: 28px;
        margin-bottom: .5em;
    }

    .mb-sm {
        margin-bottom: 30px;
    }

    .mb-md {
        margin-bottom: 40px;
    }

    .mb-lg {
        margin-bottom: 60px;
    }

    .button {
        box-shadow: 3px 5px 20px 6px rgba(0, 0, 0, .19);
        font-size: 14px;
        padding: 15px 25px;
        min-width: 250px;
    }

    .video-box {
        padding-bottom: 46%;
    }

    .site-header .navigation-area {
        padding: 10px 15px;
    }

    .site-header .search-form-holder {
        display: none;
    }

    .site-nav .close-btn,
    .site-header .menu-btn {
        display: inline-block;
        vertical-align: middle;
    }

    .site-nav .search-form,
    .site-nav .menu .mobile-menu-item {
        display: block;
    }

    .site-nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 15;
        padding: 80px 15px 15px;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100vh;
        background: #e1f1fe;
    }

    .site-nav .menu {
        display: block;
        font-size: 20px;
        text-align: center;
    }

    .site-nav .menu > li {
        margin-bottom: 10px;
        display: block;
    }

    .site-nav .menu > li:not(:last-child) {
        margin-right: 0;
    }

    .site-nav .menu > li > a {
        padding: 10px 15px;
        display: inline-block;
        vertical-align: top;
    }

    .site-nav .menu > li > a:before {
        display: none;
    }

    .site-nav .menu .parent-item > a:after {
        vertical-align: middle;
        margin-top: -4px;
    }

    .site-nav .menu .sub-menu {
        padding: 15px 0 0;
        width: 100%;
        background: transparent;
        position: static;
        text-align: center;
        overflow: hidden;
        font-size: 1em;
    }

    .site-nav .menu .sub-menu li:last-child {
        margin-bottom: 0;
    }

    .billboard {
        padding-top: 15%;
    }

    .billboard .go-down-btn {
        bottom: 30px;
        border-width: 2px;
    }

    .service-info-area .image-section .image-box {
        padding-bottom: 70%;
    }

    .service-links {
        margin: 0 -15px;
    }

    .service-links li {
        padding: 0 15px;
    }

    .service-slider {
        margin-bottom: 80px;
    }

    .preview-post blockquote {
        font-size: 26px;
        margin: 45px 0;
        padding: 45px 35px 45px;
    }

    .preview-post blockquote p:before,
    .preview-post blockquote p:after {
        width: 2em;
        height: 2em;
    }

    .preview-post blockquote p:before {
        top: -1em;
    }

    .posts-list .post .text-box {
        padding: 10px 15px 15px;
    }

    .posts-list .post time {
        margin-right: 30px;
    }

    .site-footer {
        padding-top: 40px;
    }

    .site-footer .go-top {
        width: 50px;
        height: 50px;
        right: 15px;
        line-height: 46px;
    }

    .site-footer .go-top.bottom-position {
        top: -25px;
    }

    .site-footer .secondary-footer {
        margin-top: 30px;
        padding: 25px 0;
    }

    .subheader {
        padding: 170px 0 130px;
    }

    .sort-form-holder .sort-form select {
        height: 36px;
    }

    .sort-form-holder .sort-form .reverse-btn svg {
        width: 26px;
        height: 26px;
    }

    .product-filter-form .filter-item {
        padding: 15px 0;
    }

    .product-grid-section .product-filter-form {
        padding: 10px 15px 25px;
    }

    .product-section .heading .product-title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .product-section .contact-section p {
        margin-bottom: 20px;
    }

    .product-section .contact-section .button {
        margin-top: 10px;
    }

    .product-gallery .add-to-wishList svg {
        width: 36px;
        height: 36px;
    }

    .product-gallery .add-to-wishList {
        top: 20px;
        left: 20px;
    }

    .product-section .product-listing,
    .product-section .product-info {
        width: 70%;
        padding-right: 15px;
    }

    .characteristics {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .characteristics td {
        padding: 10px;
    }

    .product-section .contact-section {
        width: 30%;
        padding: 15px;
        font-size: 14px;
    }

    .product-section .contact-section h4 {
        font-size: 22px;
    }

    .related-products-section h2 {
        font-size: 32px;
    }

    .product-section.sold-product .product-gallery:not(.plan-image-slider):before {
        font-size: 20px;
    }

    .page-decor-holder .decor {
        display: none;
    }

    .tag-list {
        margin-bottom: 35px;
    }

    .entry-holder blockquote {
        font-size: 22px;
    }

    .entry-holder .align-left,
    .entry-holder .align-right {
        width: 45%;
    }

    .entry-holder .align-right {
        margin-right: -25px;
        margin-left: 30px;
    }

    .entry-holder .align-left {
        margin-left: -25px;
        margin-right: 30px;
    }

    .entry-holder .align-center,
    .entry-holder .not-align {
        width: calc(100% + 50px);
        margin-left: -25px;
        margin-right: -25px;
    }

    .entry-holder .iframe-holder,
    .entry-holder blockquote,
    .entry-holder img {
        margin-bottom: 45px;
    }

    #map-canvas {
        height: 400px;
    }

    .contact-area .contact-info .info-box,
    .contact-area .contact-info .form-box {
        padding: 30px 30px 25px;
    }

    .application-form {
        padding: 35px;
        font-size: 14px;
    }

    .application-form .input-group select,
    .application-form .input-group input {
        font-size: 14px;
        height: 30px;
        width: 200px;
    }

    .application-form .input-group select:not(.sm) {
        width: 280px;
    }

    .application-form .input-group select.sm {
        width: 110px;
    }

    .application-form .input-holder,
    .application-form .input-group label {
        margin-bottom: 20px;
    }

    .application-form .button {
        margin-top: 35px;
    }

    .percent-box {
        font-size: 20px;
    }

    .percent-box .percent {
        font-size: 3.8em;
    }

    .about-info .percent-box {
        max-width: 280px;
        margin-top: 30px;
    }

    .about-info .info-item:not(:last-child) {
        margin-bottom: 60px;
    }

    .blockquote {
        font-size: 18px;
        line-height: 1.65;
    }

    .blockquote:before {
        width: 3em;
        height: 3em;
        margin-bottom: 5px;
    }

    .blockquote cite {
        font-size: 22px;
    }

    .certificates-list {
        margin-bottom: -45px;
    }

    .certificates-list li {
        margin-bottom: 45px;
    }

    .team-member__info-content {
        padding: 35px;
    }
}

/* Medium devices (tablets, 991px and below) */
@media (max-width: 991px) {
    .row [class^="col-md-"]:not(:last-child) {
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 20px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 22px;
    }

    .button {
        padding: 12px 20px;
        min-width: 0;
    }

    .mb-xs {
        margin-bottom: 20px;
    }

    .mb-sm {
        margin-bottom: 25px;
    }

    .mb-md {
        margin-bottom: 35px;
    }

    .mb-lg {
        margin-bottom: 50px;
    }

    .billboard {
        padding: 150px 0 100px;
    }

    .service-info-area .text-section,
    .service-info-area .image-section {
        width: 100%;
    }

    .service-info-area .text-section {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .service-info-area .image-section {
        margin-bottom: 40px;
    }

    .service-info-area .image-section .image-box {
        padding-bottom: 48%;
    }

    .service-info-area .image-section .small-img {
        bottom: -15px;
    }

    .service-info-area.reverse .limit-box {
        padding-left: 0;
    }

    .service-info-area .limit-box {
        padding-right: 0;
    }

    .container-fluid .service-info-area ~ .products {
        padding-top: 35px;
    }

    .service-links .icon-box {
        margin-right: 15px;
        width: 80px;
        height: 80px;
        line-height: 78px;
    }

    .service-links h3 {
        font-size: 22px;
    }

    .service-slider {
        margin-bottom: 60px;
    }

    .service-slider .slick-list {
        padding: 30px 15px;
    }

    .service-slider .slick-slide p {
        margin-bottom: 0;
    }

    .preview-post {
        font-size: 14px;
    }

    .preview-post blockquote {
        font-size: 24px;
        margin: 0 0 20px;
        padding: 30px 15px;
    }

    .posts-list {
        font-size: 14px;
    }

    .posts-list .post-group:not(.single) .post h4 {
        font-size: 16px;
    }

    .products .product-item {
        margin-bottom: 35px;
        width: 50%;
    }

    .consultation-request {
        padding-top: 50px;
    }

    .consultation-request .more-button {
        margin-bottom: 40px;
    }

    .subscribe-section {
        padding: 70px 0;
    }

    .subscribe-form input,
    .subscribe-form select {
        height: 40px;
    }

    .subscribe-form .button {
        font-size: 14px;
    }

    .video-box .venobox-btn {
        width: 80px;
        height: 80px;
        line-height: 76px;
    }

    .site-footer .mb-hidden {
        display: none;
    }

    .contact-area .social-list a,
    .site-footer .social-list a {
        width: 38px;
        height: 38px;
        line-height: 36px;
    }

    .site-footer .secondary-footer {
        margin-top: 20px;
        padding: 20px 0;
    }

    .subheader {
        padding: 150px 0 110px;
    }

    .product-grid-section .grid-holder {
        width: 60%;
    }

    .product-grid-section .sidebar {
        width: 40%;
    }

    .hidden[data-type="map"] .grid-holder {
        margin-left: -40%;
    }

    .product-grid-section:not(.hidden) .products .product-item {
        width: 100%;
    }

    .hidden[data-type="map"] .products .product-item {
        width: 50%;
    }

    .pagination {
        font-size: 16px;
    }

    .pagination li:not(.nav-btn) a {
        width: 36px;
        height: 36px;
        line-height: 36px;
    }

    .product-section .product-listing,
    .product-section .product-info {
        width: 100%;
        padding-right: 0;
        margin-bottom: 35px;
    }

    .product-section .contact-section {
        width: 100%;
    }

    .product-section .heading .product-title {
        font-size: 22px;
    }

    .product-section .contact-section p,
    .product-section .contact-section address {
        margin-bottom: 20px;
    }

    .tag-list {
        font-size: 12px;
        margin-bottom: 25px;
    }

    .modal .modal-body {
        padding: 35px 70px 35px;
    }

    .modal .modal-body .decor-box {
        display: none;
    }

    .modal-body .success-message {
        width: 100%;
    }

    .articles {
        margin-bottom: 45px;
    }

    .articles .article {
        margin-bottom: 30px;
    }

    .entry-holder {
        margin-bottom: 30px;
    }

    .entry-holder .author-box {
        margin-bottom: 30px;
    }

    .entry-holder .align-right {
        margin-right: 0;
        margin-left: 20px;
    }

    .entry-holder .align-left {
        margin-left: 0;
        margin-right: 20px;
    }

    .entry-holder .iframe-holder,
    .entry-holder blockquote,
    .entry-holder img {
        margin-bottom: 35px;
    }

    .entry-holder blockquote {
        font-size: 18px;
    }

    .entry-holder .entry-content *:not(blockquote) + .iframe-holder,
    .entry-holder .entry-content *:not(blockquote) + img {
        margin-top: 15px;
    }

    .entry-holder .align-center,
    .entry-holder .not-align {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .entry-footer .social-list li:not(:last-child) {
        margin-right: 15px;
    }

    .entry-footer {
        padding-top: 15px;
    }

    .article-slider .slick-slide h4 {
        font-size: 14px;
    }

    .article-slider .slick-slide {
        margin: 0 10px;
    }

    .contact-area .contact-info .info-box,
    .contact-area .contact-info .form-box {
        padding: 20px 15px;
    }

    .contact-area .contact-info .info-box {
        font-size: 14px;
    }

    .contact-area .contact-info address {
        margin-bottom: 30px;
    }

    .contact-area form .button {
        margin-top: 0;
    }

    .error-page-content .inner-box {
        padding-top: 25%;
    }

    .application-form-holder .decor-img {
        padding-bottom: 45%;
    }

    .application-form .input-group br {
        display: none;
    }

    .about-info {
        padding-top: 25px;
    }

    .about-info .info-item {
        -webkit-box-align: start;
        -moz-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        font-size: 14px;
    }

    .percent-box {
        font-size: 18px;
    }

    .about-info .percent-box {
        max-width: 250px;
        margin-top: 0;
    }

    .certificate-area .custom-row .description-box {
        font-size: 14px;
    }

    .blockquote {
        font-size: 16px;
    }

    .testimonials-slider {
        padding: 0;
        margin: 0 -50px 15px;
    }

    .testimonials-slider .slick-slide {
        padding: 20px 15px;
    }

    .testimonials-slider .slick-center:before {
        top: 0;
        bottom: 0;
        left: -15px;
        right: -15px;
    }

    .page-search-form {
        margin-bottom: 40px;
    }

    .location-info {
        width: 260px;
    }

    .location-info .content-box {
        padding: 15px 0 0;
    }

    .location-info .price {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .location-info .data-list li:not(:last-child) {
        margin-bottom: 5px;
    }

    .location-info h6 {
        margin-bottom: 5px;
    }

    .location-info p {
        display: none;
    }

    .location-info .data-list {
        padding: 5px 0;
        margin-bottom: 5px;
        font-size: 15px;
    }

    .location-info .img-box {
        height: 160px;
        width: 100%;
    }

    .location-info .content-box {
        height: auto;
        width: 100%;
    }

    .location-info .scroll-box {
        overflow-y: unset;
    }

    .location-info .add-to-wishList {
        bottom: 15px;
        right: 15px;
    }

    .location-info .add-to-wishList svg {
        width: 24px;
        height: 24px;
    }

    .certificates-list {
        margin-bottom: -35px;
    }

    .certificates-list li {
        width: 33.33%;
        margin-bottom: 35px;
    }

    .team-member__info-content {
        padding: 25px;
    }

    .team-member__description {
        padding-left: 20px;
    }
}

/* Small devices (mobile, 767px and below) */
@media (max-width: 767px) {
    .row [class^="col-"]:not(:last-child):not([class^="col-xs-"]) {
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 15px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    input[type="text"],
    input[type="search"],
    input[type="email"],
    input[type="number"],
    input[type="tel"],
    input[type="url"],
    input[type="password"] {
        height: 40px;
        padding: 8px 12px;
    }

    select {
        height: 40px;
    }

    textarea {
        height: 80px;
    }

    .mb-xs {
        margin-bottom: 15px;
    }

    .mb-sm {
        margin-bottom: 20px;
    }

    .mb-md {
        margin-bottom: 25px;
    }

    .mb-lg {
        margin-bottom: 40px;
    }

    .indent-block {
        padding: 40px 0;
    }

    .site-header .position-box .button {
        display: none;
    }

    .site-header .button + .wish-list {
        margin-left: 0;
    }

    .site-header .sound-switcher {
        display: none;
    }

    .billboard {
        font-size: 18px;
    }

    .billboard p {
        margin-bottom: 20px;
    }

    .billboard .go-down-btn {
        display: none;
    }

    .products .product-item {
        width: 100%;
    }

    .service-links {
        margin-bottom: 15px;
    }

    .service-links li {
        width: 100%;
    }

    .service-links li:not(:last-child) {
        margin-bottom: 35px;
    }

    .subscribe-form .flex-group {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .subscribe-form .email-field {
        width: 100%;
        border-bottom: 1px solid #c4c4c4;
    }

    .subscribe-form .email-field + .select {
        border-left: none;
    }

    .subscribe-form .select {
        width: 35%;
    }

    .subscribe-form .button {
        width: 30%;
        min-width: 0;
    }

    .service-slider .slider-count {
        margin-bottom: 10px;
    }

    .service-slider .slick-slide .inner-box {
        padding: 25px 15px 15px;
    }

    .simple-slider .slick-dots li {
        width: 26px;
    }

    .simple-slider .slick-dots button {
        height: 5px;
    }

    .simple-slider .slick-dots .circle {
        width: 26px;
        margin-left: -13px;
        height: 5px;
    }

    .preview-post .text-box {
        width: 100%;
        padding-right: 0;
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .preview-post .img-box {
        width: 100%;
        margin-bottom: 25px;
    }

    .posts-list .post-group.single,
    .posts-list .post-group {
        width: 100%;
    }

    .consultation-request {
        padding-top: 35px;
    }

    .consultation-request .more-button {
        margin-bottom: 25px;
    }

    .site-footer .foo-request,
    .site-footer .contact-info {
        width: 100%;
    }

    .site-footer .subscribe-form .email-field {
        width: 100%;
        border-bottom: 1px solid #c4c4c4;
    }

    .site-footer .subscribe-form .select {
        width: 40%;
    }

    .site-footer .subscribe-form .button {
        width: 20%;
    }

    .site-footer address,
    .site-footer .subscribe-form {
        margin-bottom: 35px;
    }

    .site-footer .secondary-footer {
        margin-top: 10px;
        padding: 15px 0;
        text-align: center;
    }

    .site-footer .secondary-footer .row .text-right {
        text-align: center;
    }

    .product-grid-section {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .product-grid-section .sidebar {
        width: 100%;
        padding: 0 15px;
        margin-bottom: 30px;
    }

    .product-grid-section[data-type="listing"] .sidebar {
        padding-left: 15px;
    }

    .product-grid-section .sidebar .scroll-box {
        max-height: initial;
        background: #f5f5f5;
    }

    .collapse-menu-holder .collapse-btn {
        display: block;
    }

    .collapse-menu-holder .hidden-box,
    .collapse-menu-holder .product-filter-form {
        display: none;
    }

    .hidden[data-type="map"] .product-filter-form {
        left: 0;
    }

    .product-grid-section .sidebar .sidebar-switcher {
        display: none;
    }

    .hidden[data-type="map"] .grid-holder {
        margin-left: 0;
    }

    .product-grid-section .grid-holder {
        width: 100%;
    }

    .product-section .products .product-item,
    .hidden[data-type="map"] .products .product-item,
    .product-grid-section:not(.hidden) .products .product-item,
    .products .product-item {
        width: 100%;
    }

    .sort-form-holder .sort-form label {
        display: none;
    }

    .product-filter-form .reset-btn {
        margin-top: 20px;
        font-size: 14px;
    }

    .product-section {
        padding-top: 20px;
    }

    .product-section .view-switcher li {
        min-width: 0;
    }

    .product-gallery .add-to-wishList svg {
        width: 24px;
        height: 24px;
    }

    .product-gallery .add-to-wishList svg {
        width: 24px;
        height: 24px;
    }

    .product-section #map,
    .product-gallery {
        margin-bottom: 30px;
    }

    .characteristics,
    .characteristics tbody,
    .characteristics tr,
    .characteristics td {
        display: block;
    }

    .characteristics tr {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .characteristics td {
        width: 50%;
        border: none;
    }

    .characteristics tr td:not(:last-child) {
        border-right: none;
    }

    .characteristics td {
        border-bottom: 1px solid #cfcfcf;
    }

    .related-products-section h2 {
        font-size: 26px;
    }

    .product-section.sold-product .product-gallery:not(.plan-image-slider):before {
        top: -10px;
        right: 10px;
        font-size: 16px;
    }

    .tag-list a {
        padding: 2px 10px;
    }

    .modal h3 {
        font-size: 28px;
    }

    .modal .modal-body {
        padding: 35px 15px 20px;
    }

    .articles {
        margin-bottom: 35px;
    }

    .articles .article {
        margin-bottom: 25px;
    }

    .entry-holder .align-left,
    .entry-holder .align-right {
        float: none;
        margin: 0 auto 25px;
        display: block;
        width: auto;
    }

    .entry-holder ol li,
    .entry-holder ul li {
        margin-bottom: 5px;
    }

    .entry-holder .entry-content *:not(blockquote) + .iframe-holder,
    .entry-holder .entry-content *:not(blockquote) + img {
        margin-top: 10px;
    }

    .entry-holder blockquote {
        padding-left: 10px;
        border-left-width: 5px;
    }

    .entry-holder blockquote {
        margin: 35px 0;
    }

    .entry-holder .iframe-holder,
    .entry-holder img {
        margin-bottom: 25px;
    }

    .entry-footer .social-list svg {
        width: 15px;
        height: 16px;
        margin-right: 0;
    }

    .entry-footer .social-list li:first-child {
        font-size: 16px;
    }

    .entry-footer .social-list li:not(:last-child) {
        margin-right: 10px;
    }

    .contact-area .contact-info .info-box,
    .contact-area .contact-info .form-box {
        width: 100%;
    }

    .contact-area .contact-info {
        margin-bottom: 35px;
    }

    .contact-area h2 {
        margin-bottom: 10px;
    }

    .error-page-content .inner-box {
        padding-top: 35%;
    }

    .application-form-holder {
        padding: 50px 0;
    }

    .application-form-holder h1 {
        margin-bottom: 35px;
    }

    .application-form {
        padding: 20px;
    }

    .application-form .input-holder {
        width: 100%;
        margin: 0 0 15px;
    }

    .application-form .input-group label {
        width: 100%;
        margin: 0 0 5px;
    }

    .application-form .input-group select,
    .application-form .input-group input {
        width: 100%;
        border-width: 1px;
        padding: 5px 10px;
    }

    .application-form .input-group .sm {
        width: 100%;
    }

    .application-form .input-group select {
        background-position: 98% 50%;
    }

    .about-info {
        padding-top: 15px;
    }

    .about-info .info-item {
        display: block;
    }

    .about-info .info-item:not(:last-child) {
        margin-bottom: 45px;
    }

    .about-info .info-item .text-box,
    .about-info .info-item .img-box {
        width: 100%;
    }

    .about-info .info-item .img-box {
        text-align: center;
        margin-bottom: 25px;
    }

    .certificate-area .custom-row .slider-holder,
    .certificate-area .custom-row .description-box {
        width: 100%;
    }

    .certificate-area .custom-row .description-box {
        margin-bottom: 35px;
    }

    .subscribe-section p {
        font-size: 16px;
    }

    .subscribe-section .section-title {
        font-size: 24px;
    }

    .testimonials-slider {
        margin: 0 0 15px;
        padding: 0 15px 15px;
    }

    .testimonials-slider .slick-slide {
        background: #fff;
    }

    .testimonials-slider .slick-center {
        transform: scale(1);
        -webkit-transform: scale(1);
        background: #fff;
    }

    .testimonials-slider .slick-list {
        padding: 0 !important;
    }

    .testimonials-slider .slick-slide:before {
        display: none;
    }

    .page-search-form {
        margin-bottom: 30px;
    }

    .page-search-form .search-form .button {
        min-width: 130px;
        margin-left: 10px;
        padding: 11px 20px;
    }

    .product-section {
        margin-bottom: 40px;
    }

    .certificates-list {
        margin-bottom: -25px;
    }

    .certificates-list li {
        width: 50%;
        margin-bottom: 25px;
    }

    .team-member {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .team-member + .team-member {
        margin-top: 60px;
    }

    .team-member__info {
        width: 100%;
        margin: 0 auto 20px;
        max-width: 360px
    }

    .team-member__description {
        padding-left: 0;
    }
}

/* Extra-small devices (mobile - portrait, 480px and below) */
@media (max-width: 480px) {
    .xs-full {
        width: 100%;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    .button {
        padding: 10px 15px;
    }

    .indent-block {
        padding: 35px 0;
    }

    .site-header .logo {
        margin-right: 10px;
    }

    .site-header .logo svg {
        width: 110px;
        height: 34px;
    }

    .site-header .kw-logo img {
        width: 70px;
    }

    .site-nav .menu {
        font-size: 18px;
    }

    .site-nav .menu > li {
        margin-bottom: 0;
    }

    .site-header .menu-btn > span:before,
    .site-header .menu-btn > span:after,
    .site-header .menu-btn > span {
        height: 2px;
    }

    .site-header .menu-btn > span:before {
        top: -8px;
    }

    .site-header .menu-btn > span:after {
        bottom: -8px;
    }

    .site-header .action-line .phone-link {
        display: none;
    }

    .site-header .action-line .link {
        padding: 0 20px;
    }

    .site-header .action-line {
        height: 36px;
    }

    .site-header .languages {
        height: 36px;
        padding: 5px 10px;
    }

    .site-header .menu-btn {
        margin-left: 8px;
        width: 24px;
    }

    .site-header .wish-list svg {
        width: 22px;
        height: 22px;
    }

    .billboard {
        font-size: 16px;
    }

    .billboard .go-down-btn {
        width: 26px;
        height: 38px;
        margin-left: -13px;
        bottom: 20px;
    }

    .service-info-area .image-section .small-img {
        display: none;
    }

    .service-info-area .image-section {
        margin-bottom: 20px;
    }

    .container-fluid .service-info-area ~ .products {
        padding-top: 25px;
    }

    .products .product-item .product-details .cell {
        padding: 8px;
    }

    .products .product-item {
        margin-bottom: 25px;
    }

    .products .product-item .price {
        font-size: 16px;
    }

    .products .product-item .pseudo-btn {
        font-size: 14px;
    }

    .products .product-item p {
        margin-bottom: 5px;
    }

    .service-links {
        font-size: 14px;
        text-align: center;
    }

    .service-links .icon-box {
        margin: 0 auto 10px;
        width: 70px;
        height: 70px;
        line-height: 68px;
        float: none;
    }

    .service-links h3 {
        font-size: 20px;
    }

    .subscribe-section {
        padding: 50px 0;
    }

    .subscribe-form .select {
        width: 50%;
    }

    .subscribe-section h3 {
        margin-bottom: 1em;
    }

    .subscribe-form .button {
        width: 100%;
        border-top: 1px solid #c4c4c4;
    }

    .service-slider .slick-list {
        padding: 20px 25px;
    }

    .service-slider .slick-slide .inner-box {
        padding: 25px 15px;
    }

    .service-slider .slick-slide,
    .service-slider .slick-active.hover-slide,
    .service-slider .slick-active.next-slide,
    .service-slider .slick-active.prev-slide {
        transform: scale(1);
    }

    .preview-post blockquote {
        font-size: 20px;
    }

    .posts-list .single .post p {
        margin-bottom: 5px;
    }

    .site-footer .subscribe-form .select {
        width: 100%;
        border-left: none;
    }

    .site-footer .subscribe-form .button {
        width: 100%;
    }

    .site-footer .subscribe-form .input-holder {
        margin-bottom: 5px;
    }

    .site-footer .subscribe-form .flex-group {
        border-radius: 0;
    }

    .site-footer .subscribe-form .button {
        border-top: none;
    }

    .site-footer ul li {
        margin-bottom: 10px;
    }

    .site-footer .additional-links li:not(:last-child) {
        margin-right: 15px;
    }

    .site-footer .social-list,
    .site-footer .additional-links {
        text-align: center;
    }

    .product-section #map,
    .product-gallery {
        margin-bottom: 25px;
    }

    .product-gallery .image-slider .inner-box {
        padding-bottom: 90%;
    }

    .characteristics {
        margin-bottom: 20px;
    }

    .characteristics td {
        width: 100%;
    }

    .characteristics tr td:last-child {
        border-bottom: none;
    }

    .characteristics .value {
        font-size: 1.5em;
    }

    .related-products-section h2 {
        font-size: 24px;
    }

    .product-gallery .preview-slider .inner-box {
        padding-bottom: 72%;
    }

    .product-section.sold-product .product-gallery:not(.plan-image-slider):before {
        top: 5px;
        right: 5px;
        font-size: 14px;
        padding: 6px 10px;
    }

    .product-section {
        margin-bottom: 35px;
    }

    .tag-list {
        margin-bottom: 15px;
    }

    .articles .article h3 {
        font-size: 18px;
    }

    .entry-holder {
        margin-bottom: 20px;
    }

    .entry-holder .author-box .ovh-box {
        padding-top: 5px;
    }

    .entry-holder .author-box .photo {
        width: 50px;
        height: 50px;
    }

    .entry-holder .author-box .author-name {
        font-size: 16px;
    }

    .entry-footer {
        padding-top: 10px;
    }

    .entry-footer .row > div {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }

    #map-canvas {
        height: 300px;
    }

    .contact-area {
        margin-top: 25px;
    }

    .contact-area .contact-info .info-box,
    .contact-area .contact-info .form-box {
        padding: 15px;
    }

    .product-info .product-description ul {
        column-count: 1;
        margin-bottom: 15px;
    }

    .error-page-content .inner-box {
        padding-top: 50%;
    }

    .application-form {
        padding: 0;
        background: transparent;
        box-shadow: none;
    }

    .application-form-holder h1 {
        margin-bottom: 25px;
    }

    .application-form-holder .decor-img {
        display: none;
    }

    .application-form-holder {
        padding: 35px 0 50px;
    }

    .application-form .input-group {
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    .application-form .button {
        margin-top: 15px;
    }

    .subscribe-section p {
        font-size: 14px;
    }

    .subscribe-section .section-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .subscribe-section .link {
        font-size: 16px;
    }

    .page-search-form .search-form .button {
        min-width: 90px;
        padding: 11px 15px;
    }

    .certificates-list {
        font-size: 13px;
        margin: 0 -10px -20px;
    }

    .certificates-list li {
        padding: 0 10px;
        margin-bottom: 20px;
    }

    .certificates-list li svg {
        width: 28px;
        height: 28px;
        margin-right: 5px;
    }

    .team-member + .team-member {
        margin-top: 50px;
    }

    .team-member__info-content {
        padding: 15px;
    }
}
